In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('school.sqlite')
db

In [4]:
cur = db.cursor()

In [5]:
cur.execute("select *from student")

In [6]:
for row in cur:
    print(row)

(101, 'mohit', 21)
(103, 'raj', 23)
(104, 'maya', 23)
(106, 'avantika', 20)
(107, 'ankush', 20)

In [7]:
cur.execute("select *from student")
cur.fetchone()

(101, 'mohit', 21)

In [8]:
cur.execute("select *from student")
print(cur.fetchone())
print(cur.fetchone())

(101, 'mohit', 21)
(103, 'raj', 23)

In [9]:
cur.execute("select *from student")
print(cur.fetchmany(3))

[(101, 'mohit', 21), (103, 'raj', 23), (104, 'maya', 23)]

In [10]:
cur.execute("select *from student where rollno between 101 and 104 ")
print(cur.fetchmany(3))

[(101, 'mohit', 21), (103, 'raj', 23), (104, 'maya', 23)]

In [11]:
cur.execute("select *from student")
print(cur.fetchall())

[(101, 'mohit', 21), (103, 'raj', 23), (104, 'maya', 23), (106, 'avantika', 20), (107, 'ankush', 20)]