In [1]:
import sqlite3 
db = sqlite3.connect('school.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
sql_query = "create table student (rollno int primary key, name text , age int)"
cur.execute(sql_query)

In [4]:
cur.execute('insert into student values(101,"mohit", 20)')

In [5]:
db.commit()

In [6]:
cur.execute('insert into student values(103,"raj", 21)')

In [7]:
db.commit()

In [8]:
## insert data in database using parameters
rollno = 104
name = 'maya'
age = 22
cur.execute('insert into student values(?,?,?)',(rollno,name,age))

In [9]:
db.commit()

In [10]:
values = [(106,"avantika",22),(107,'ankush',23),(108,'nidhi',23)]
cur.executemany('insert into student values(?,?,?)',values)

In [11]:
db.commit()

In [12]:
cur.execute('update student set age=20')

In [13]:
db.commit()

In [14]:
cur.execute('update student set age=21 where rollno between 101 and 102 ')
db.commit()

In [15]:
newAge = 23
cur.execute('update student set age= ? where rollno between 103 and 105 ',(newAge,))
db.commit()

In [16]:
cur.execute('delete from student where rollno = 108 ')
db.commit()